<!doctype html>
<html ng-app="<%= main %>" ng-strict-di>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <base href="/">
<% styles.forEach(function(href) {
%>        <link rel="stylesheet" href="/<%= href %>">
<% }) %>    </head>
    <body>
        <div ui-view></div>
<% scripts.forEach(function(src) {
%>        <script src="/<%= src %>"></script>
<% }) %>    </body>
</html>
