<!doctype html>
<!--[if IE 8]>
<html class="old-ie ie8" ng-app="<%= main %>" ng-strict-di>
<![endif]-->
<!--[if IE 9]>
<html class="old-ie ie9" ng-app="<%= main %>" ng-strict-di>
<![endif]-->
<!--[if !IE]>-->
<html ng-app="<%= main %>" ng-strict-di>
<!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
<% if (base) {
%>        <base href="<%= base %>">
<% } %><% styles.forEach(function(href) {
%>        <link rel="stylesheet" href="<%= href %>">
<% }) %><% scripts.forEach(function(src) {
%>        <script src="<%= src %>"></script>
<% }) %>    </head>
    <body ui-view></body>
</html>
